* {
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

nav {
	background-color: lightyellow;
	height: 100%;
	width: 200px;
	position: fixed;
}

ul > li {
	list-style: none;
	background-color: lightblue;	
	margin-bottom: 2px;
	line-height: 48px;
	text-align: center;
}

ul > li > a {
	text-decoration: none;
}

main {
	background-color: lightgrey;
	margin-left: 200px;
}

.banner {
	background-color: skyblue;
	min-height: 700px;
	position: relative;
}

.about {
	background-color: indianred;
	min-height: 300px;
}

.services {
	background-color: midnightblue;
	min-height: 300px;
	color: #fff;
}

.projects {
	background-color: crimson;
	min-height: 300px;
}

.gallery {
	background-color: orange;
	min-height: 400px;
}

footer {
	background-color: green;
	min-height: 50px;
	margin-left: 200px;
	line-height: 50px;
	/*padding: 30px;*/
	/*text-align: center;*/
}

nav,
.banner,
.about,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}

.logo {
	width: 140px;
	height: 140px;
	background-color: grey;
	margin:0 auto;
}

.box {
	border: 5px solid white;
	text-align: center;
	width: 40%;
	/*margin: 0 auto;*/
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.column {
	border: 1px solid	white;
	width: 31%;
	float: left;
	margin: 1%;
	padding: 20px;

}
.column1 {
	border: 1px solid	white;
	width: 31%;
	height: 100px;
	float: left;
	margin: 1%;
	padding: 20px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

img[alt*="Services"] {
	border: 1px solid white;
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	margin-right: 10px;
}

img[alt*="Services"] ~ p {
	overflow: hidden;
	margin-top: 10px;
	text-align: justify;
	text-indent: 15px;
}

.gallery > .column {
	width: 23%;
	margin: 0 1%;
	border-color: black;
}

img[alt*="Gallery"] {
	display: block;
	width: 100%;
	height: 100px;
	border: 1px solid black;
}

img[name*="Social"] {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	display: block;
	float: left;
	margin-right: 10px;
}

div.contact{
	float: right;

}

small {
	padding-left: 50px;
}
div.logo{
	margin-bottom: 30px;
}

/* mobile */

@media only screen and (max-width: 450px) {
	nav {
		position: relative;
		margin: 0 auto; 
		width: 100%;
	 }
	 
	 .banner {
		padding: 10px;
	 }
	 main {
		margin:0 auto;
	 }

	.column {
		width: 100%;
		height: 100%;
	}

	.gallery > .column {
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}

	footer{
		width: 100%;
		height: 100%;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 451px) and (max-width: 960px) {
	.column{
		width: 100%;
		height: 100%;
	}

	.gallery > .column2 {
		width: 45%;
		margin: 5px;
		float: left;
		height: 100%
	}

}

@media only screen and (min-width:961px) {

	 .column1 > p{
		height: 50%;
		/* text-overflow: ellipsis;
		overflow: hidden; */
		
	}
	
	.services{
		background-color: green;
	}
}